h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
button {
  font-family: 'Roboto', sans-serif;
}

h1,
h3 {
  text-align: center;
}

#monster-info,
#enemy-info {
  max-width: 500px;
  border: 3px solid #999;
  border-style: inset;
  padding: 10px;
  background: #ddd;
  margin: 4px;
}

#monster-info > p,
#monster-info > #stat-row > p,
#enemy-info > p {
  font-size: 25px;
  background: -webkit-linear-gradient(#eee, #678678);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #666;
  margin: 8px 0px;
}

#monster-info > p > span,
#monster-info > #stat-row > p > span,
#enemy-info > p > span {
  font-size: 35px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #666;
}

#monster-level,
#enemy-level {
  background: -webkit-linear-gradient(#eee, black);
}

#monster-health,
#enemy-health {
  background: -webkit-linear-gradient(#eee, red);
}

#monster-attack,
#enemy-attack {
  background: -webkit-linear-gradient(#eee, #ffe02a);
}

#monster-experience,
#enemy-experience {
  background: -webkit-linear-gradient(#eee, #a570bf);
}

#monster-points {
  background: -webkit-linear-gradient(#eee, green);
}

button {
  background: none;
  border: 3px solid red;
  color: red;
  text-transform: uppercase;
  font-size: 20px;
  padding: 5px 15px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background 200ms;
}

button:disabled {
  background: grey;
  color: black;
  border-color: grey;
}

button:hover:enabled {
  background: red;
  color: white;
}

#monster-info > #stat-row > button {
  max-width: fit-content;
  padding: 3px 9px;
  margin: 3px;
}

.icon {
  font-size: 30px;
}

#game-log {
  max-width: 500px;
  max-height: fit-content;
  border: 3px solid #999;
  border-style: inset;
  padding: 10px;
  background: #ddd;
  margin: 10px auto;
}

#game-log > p {
  text-align: center;
}

#row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#stat-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

body {
  background: #eeeeee;
}
